<!-- templates/core/errors/404.html -->
{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Page Not Found" %} - FeastFlow{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/error-pages.css' %}">
{% endblock %}

{% block content %}
<div class="error-container">
    <div class="error-card">
        <div class="error-code">
            <span class="code-number">404</span>
            <div class="code-icon" style="background-color: rgba(99, 102, 241, 0.1); color: var(--primary-color);">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                </svg>
            </div>
        </div>
        
        <h1 class="error-title">{% trans "Page Not Found" %}</h1>
        <p class="error-message">{% trans "Sorry, we couldn't find the page you're looking for. It might have been moved or doesn't exist." %}</p>
        <p class="error-help">{% trans "Please check the URL or navigate back to our homepage." %}</p>
        
        <div class="error-actions">
            <a href="{% url 'core:home' %}" class="error-btn primary-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
                </svg>
                <span>{% trans "Return Home" %}</span>
            </a>
            <a href="javascript:history.back()" class="error-btn secondary-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
                <span>{% trans "Go Back" %}</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}